akumDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "akumDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/P_Incremental_Migrate_ADVW_Azure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It migrates the Oracle HR schema tables to an Azure SQL database with incremental runs.",
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSrcTgtTableMapping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 7) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 9) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_TBL_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Azure_Sandbox_LKP_2507",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSrcTgtTableMapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSrcTgtTableMapping').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetWatermarkValue",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT WATERMARK_VALUE FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Watermark_Tracker",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SetPreviousWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetWatermarkValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousWatermark",
										"value": {
											"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IsFirstRun",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetPreviousWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(variables('PreviousWatermark'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SqlQuery_After_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ', item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE ModifiedDate > CAST(''', \n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'), \n  ''' AS DATETIME2)'\n)",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SqlQuery_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\r\n  'SELECT * FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME\r\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Migrate_ADVW_Azure",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "IsFirstRun",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "FILE_TABLE_ID",
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													}
												},
												{
													"name": "BATCH_ID",
													"value": "2001"
												},
												{
													"name": "SRC_TBL_NAME",
													"value": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													}
												},
												{
													"name": "PIPLN_NM",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@variables('SqlQuery')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										},
										"enableSkipMapping": true
									},
									"inputs": [
										{
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SB_Tgt_SalesLT_M",
											"type": "DatasetReference",
											"parameters": {
												"Tgt_Schema_name": {
													"value": "@item().TGT_SCHEMA_NAME",
													"type": "Expression"
												},
												"Tgt_Table_Name": {
													"value": "@item().TGT_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMaxModifiedDate",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\r\n  'SELECT MAX(MODIFIEDDATE) AS MAX_MODIFIED_DATE FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\r\n  ' WHERE MODIFIEDDATE > ''', variables('PreviousWatermark'), ''''\r\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "SP_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": null,
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": {
													"value": "@item().TGT_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"tgt_table_name": {
												"value": {
													"value": "@item().TGT_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Fail",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": null,
												"type": "String"
											},
											"tgt_table_name": {
												"value": null,
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SetMaxWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateWatermark]",
										"storedProcedureParameters": {
											"FILE_TABLE_ID": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SOURCE_TABLE_NAME": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"UPDATED_AT": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"UPDATED_BY": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"WATERMARK_VALUE": {
												"value": {
													"value": "@variables('MaxWatermark2')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SetMaxWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetMaxModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MaxWatermark2",
										"value": {
											"value": "@if(\r\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\r\n  variables('PreviousWatermark'),\r\n  activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"SqlQuery": {
						"type": "String"
					},
					"SqlQuery2": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					},
					"MaxWatermark2": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Migrations"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-14T03:03:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_Incremental_Migrate_ADVW_Azure_BKP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It migrates the Oracle HR schema tables to an Azure SQL database with incremental runs.",
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSrcTgtTableMapping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 7) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 9) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_TBL_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Azure_Sandbox_LKP_2507",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSrcTgtTableMapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSrcTgtTableMapping').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetWatermarkValue",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT WATERMARK_VALUE FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Watermark_Tracker",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SetPreviousWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetWatermarkValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousWatermark",
										"value": {
											"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IsFirstRun",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetPreviousWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(variables('PreviousWatermark'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SqlQuery_After_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ', item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE ModifiedDate > CAST(''', \n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'), \n  ''' AS DATETIME2)'\n)",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SqlQuery_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\r\n  'SELECT * FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME\r\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Migrate_ADVW_Azure",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "IsFirstRun",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "FILE_TABLE_ID",
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													}
												},
												{
													"name": "BATCH_ID",
													"value": "2001"
												},
												{
													"name": "SRC_TBL_NAME",
													"value": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													}
												},
												{
													"name": "PIPLN_NM",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "@variables('SqlQuery')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										},
										"enableSkipMapping": true
									},
									"inputs": [
										{
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SB_Tgt_SalesLT_M",
											"type": "DatasetReference",
											"parameters": {
												"Tgt_Schema_name": {
													"value": "@item().TGT_SCHEMA_NAME",
													"type": "Expression"
												},
												"Tgt_Table_Name": {
													"value": "@item().TGT_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMaxModifiedDate",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\r\n  'SELECT MAX(MODIFIEDDATE) AS MAX_MODIFIED_DATE FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\r\n  ' WHERE MODIFIEDDATE > ''', variables('PreviousWatermark'), ''''\r\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "SP_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": null,
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": {
													"value": "@item().TGT_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"tgt_table_name": {
												"value": {
													"value": "@item().TGT_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Migrate_ADVW_Azure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Fail",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": null,
												"type": "String"
											},
											"tgt_table_name": {
												"value": null,
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SetMaxWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateWatermark]",
										"storedProcedureParameters": {
											"FILE_TABLE_ID": {
												"value": {
													"value": "@item().FILE_TABLE_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SOURCE_TABLE_NAME": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"UPDATED_AT": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"UPDATED_BY": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"WATERMARK_VALUE": {
												"value": {
													"value": "@variables('MaxWatermark2')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SetMaxWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetMaxModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MaxWatermark2",
										"value": {
											"value": "@if(\r\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\r\n  variables('PreviousWatermark'),\r\n  activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"SqlQuery": {
						"type": "String"
					},
					"SqlQuery2": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					},
					"MaxWatermark2": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Migrations"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-17T02:31:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_SCD_T2_Inc_Vivid_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSrcDimTableList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\r\n  'SELECT SSDTM_ID, ',\r\n  'SRC_SCHEMA_NAME, ',\r\n  'SRC_TBL_NAME, ',\r\n  'STG_SCHEMA_NAME, ',\r\n  'STG_TBL_NAME, ',\r\n  'DIM_SCHEMA_NAME, ',\r\n  'DIM_TBL_NAME ',\r\n  'FROM DBO.SRC_STG_DIM_TABLE_MAPPING ',\r\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\r\n  'AND ROW_STS_CD = ''A'' ',\r\n  'AND SRC_TBL_NAME = ''BLOB_CUSTOMER_RAW'''\r\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SRC_DIM_LKP_1807",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSrcDimTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSrcDimTableList').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetWatermarkValue",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Watermark_Tracker",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SetPreviousWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetWatermarkValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousWatermark",
										"value": {
											"value": "@if(\n  or(empty(activity('GetWatermarkValue').output.firstRow), empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)),\n  '',\n  formatDateTime(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IsFirstRun",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetPreviousWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(variables('PreviousWatermark'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SqlQuery_After_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ', item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE SRC_ROW_INSRT_TSTMP > CAST(''', \n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'), \n  ''' AS DATETIME2)'\n)",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SqlQuery_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ',\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "CopySrcToStg",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "TruncStageTable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@variables('SqlQuery')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SB_Vivid_1808",
											"type": "DatasetReference",
											"parameters": {
												"Src_Schema_Name": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"Src_Table_Name": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SB_TGT_DWH_1808",
											"type": "DatasetReference",
											"parameters": {
												"Stg_Schema_Name": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"Stg_Table_Name": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Compute_HashDiff",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySrcToStg",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[util].[Compute_HashDiff]",
										"storedProcedureParameters": {
											"excludeCols": {
												"value": "",
												"type": "String"
											},
											"hashcol": {
												"value": "HASHDIFF",
												"type": "String"
											},
											"schema": {
												"value": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"table": {
												"value": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Azure_SB_Lkp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncStageTable",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "IsFirstRun",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_Azure_SB_Lkp",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n  'TRUNCATE TABLE [',\n  item().STG_SCHEMA_NAME, '].[', \n  item().STG_TBL_NAME, '];'\n)",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DimCustomer",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Compute_HashDiff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "WATERMARK_ID",
													"value": {
														"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_ID",
														"type": "Expression"
													}
												},
												{
													"name": "BATCH_ID",
													"value": "1001"
												}
											],
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Tgt_DWH_StgCustomer",
											"type": "DatasetReference",
											"parameters": {
												"Stg_Schema_Name": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"Stg_Table_Name": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Tgt_DWH_DimCustomer",
											"type": "DatasetReference",
											"parameters": {
												"Dim_Schema_Name": {
													"value": "@item().DIM_SCHEMA_NAME",
													"type": "Expression"
												},
												"Dim_Table_Name": {
													"value": "@item().DIM_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMaxModifiedDate",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT MAX(SRC_ROW_INSRT_TSTMP) AS MAX_MODIFIED_DATE FROM ',\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE SRC_ROW_INSRT_TSTMP > ''', variables('PreviousWatermark'), ''''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "SP_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": null,
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('DimCustomer').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": {
													"value": "@item().DIM_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"tgt_table_name": {
												"value": {
													"value": "@item().DIM_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": {
													"value": "@activity('DimCustomer').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('DimCustomer').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Fail",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": null,
												"type": "String"
											},
											"tgt_table_name": {
												"value": null,
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SetMaxWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateWatermark]",
										"storedProcedureParameters": {
											"FILE_TABLE_ID": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SOURCE_TABLE_NAME": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"UPDATED_AT_TSTMP": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"UPDATED_BY": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"WATERMARK_VALUE": {
												"value": {
													"value": "@convertFromUtc(formatDateTime(variables('MaxWatermark'), 'yyyy-MM-ddTHH:mm:ssZ'), 'India Standard Time')\n\n",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SetMaxWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetMaxModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MaxWatermark",
										"value": {
											"value": "@if(\r\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\r\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss.fffffff'),\r\n  formatDateTime(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE, 'yyyy-MM-dd HH:mm:ss.fffffff')\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"SqlQuery": {
						"type": "String"
					},
					"SqlQuery2": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SCDs"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-19T06:38:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_SCD_T2_Inc_Vivid_Customer_BKP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetSrcDimTableList",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\r\n  'SELECT SSDTM_ID, ',\r\n  'SRC_SCHEMA_NAME, ',\r\n  'SRC_TBL_NAME, ',\r\n  'STG_SCHEMA_NAME, ',\r\n  'STG_TBL_NAME, ',\r\n  'DIM_SCHEMA_NAME, ',\r\n  'DIM_TBL_NAME ',\r\n  'FROM DBO.SRC_STG_DIM_TABLE_MAPPING ',\r\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\r\n  'AND ROW_STS_CD = ''A'' ',\r\n  'AND SRC_TBL_NAME = ''BLOB_CUSTOMER_RAW'''\r\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SRC_DIM_LKP_1807",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSrcDimTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSrcDimTableList').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetWatermarkValue",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Watermark_Tracker",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "SetPreviousWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetWatermarkValue",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousWatermark",
										"value": {
											"value": "@if(\n  or(empty(activity('GetWatermarkValue').output.firstRow), empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)),\n  '',\n  formatDateTime(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "IsFirstRun",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "SetPreviousWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@empty(variables('PreviousWatermark'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SqlQuery_After_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ', item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE SRC_ROW_INSRT_TSTMP > CAST(''', \n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'), \n  ''' AS DATETIME2)'\n)",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "SqlQuery_1_run",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "SqlQuery",
													"value": {
														"value": "@concat(\n  'SELECT * FROM ',\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "CopySrcToStg",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "TruncStageTable",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@variables('SqlQuery')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SB_Vivid_1808",
											"type": "DatasetReference",
											"parameters": {
												"Src_Schema_Name": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"Src_Table_Name": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SB_TGT_DWH_1808",
											"type": "DatasetReference",
											"parameters": {
												"Stg_Schema_Name": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"Stg_Table_Name": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Compute_HashDiff",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopySrcToStg",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[util].[Compute_HashDiff]",
										"storedProcedureParameters": {
											"excludeCols": {
												"value": "",
												"type": "String"
											},
											"hashcol": {
												"value": "HASHDIFF",
												"type": "String"
											},
											"schema": {
												"value": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"table": {
												"value": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Azure_SB_Lkp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncStageTable",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "IsFirstRun",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_Azure_SB_Lkp",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n  'TRUNCATE TABLE [',\n  item().STG_SCHEMA_NAME, '].[', \n  item().STG_TBL_NAME, '];'\n)",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "DimCustomer",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Compute_HashDiff",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "WATERMARK_ID",
													"value": {
														"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_ID",
														"type": "Expression"
													}
												},
												{
													"name": "BATCH_ID",
													"value": "1001"
												}
											],
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Tgt_DWH_StgCustomer",
											"type": "DatasetReference",
											"parameters": {
												"Stg_Schema_Name": {
													"value": "@item().STG_SCHEMA_NAME",
													"type": "Expression"
												},
												"Stg_Table_Name": {
													"value": "@item().STG_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Tgt_DWH_DimCustomer",
											"type": "DatasetReference",
											"parameters": {
												"Dim_Schema_Name": {
													"value": "@item().DIM_SCHEMA_NAME",
													"type": "Expression"
												},
												"Dim_Table_Name": {
													"value": "@item().DIM_TBL_NAME",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "GetMaxModifiedDate",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT MAX(SRC_ROW_INSRT_TSTMP) AS MAX_MODIFIED_DATE FROM ',\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE SRC_ROW_INSRT_TSTMP > ''', variables('PreviousWatermark'), ''''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_ADVW_Src_2807",
											"type": "DatasetReference",
											"parameters": {
												"SRC_ADVW_SCHEMA_NAME": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"SRC_ADVW_TABLE_NAME": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "SP_Success_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": null,
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('DimCustomer').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": {
													"value": "@item().DIM_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"tgt_table_name": {
												"value": {
													"value": "@item().DIM_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_Failure_Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimCustomer",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[LOG_MIGRATION_EVENT]",
										"storedProcedureParameters": {
											"audit_key": {
												"value": {
													"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
													"type": "Expression"
												},
												"type": "String"
											},
											"batch_id": {
												"value": {
													"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"end_time": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_msg": {
												"value": {
													"value": "@activity('DimCustomer').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"file_table_id": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"row_count": {
												"value": {
													"value": "@activity('DimCustomer').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"src_schema_name": {
												"value": {
													"value": "@item().SRC_SCHEMA_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"src_table_name": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"start_time": {
												"value": {
													"value": "@variables('StartTime')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"status": {
												"value": "Fail",
												"type": "String"
											},
											"tgt_schema_name": {
												"value": null,
												"type": "String"
											},
											"tgt_table_name": {
												"value": null,
												"type": "String"
											},
											"triggered_by": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SP_UpdateWatermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SetMaxWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[UpdateWatermark]",
										"storedProcedureParameters": {
											"FILE_TABLE_ID": {
												"value": {
													"value": "@item().SSDTM_ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SOURCE_TABLE_NAME": {
												"value": {
													"value": "@item().SRC_TBL_NAME",
													"type": "Expression"
												},
												"type": "String"
											},
											"UPDATED_AT_TSTMP": {
												"value": {
													"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"UPDATED_BY": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"WATERMARK_VALUE": {
												"value": {
													"value": "@convertFromUtc(formatDateTime(variables('MaxWatermark'), 'yyyy-MM-ddTHH:mm:ssZ'), 'India Standard Time')\n\n",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_LOG_MIGRATION_EVENT",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SetMaxWatermark",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetMaxModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MaxWatermark",
										"value": {
											"value": "@if(\r\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\r\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss.fffffff'),\r\n  formatDateTime(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE, 'yyyy-MM-dd HH:mm:ss.fffffff')\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"SqlQuery": {
						"type": "String"
					},
					"SqlQuery2": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SCDs"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-23T00:43:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_SCD_T2_Vivid_Raw_Schemas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetWatermarkValue",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', pipeline().parameters.p_src_table, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Watermark_Tracker",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SetPreviousWatermark",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetWatermarkValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PreviousWatermark",
							"value": {
								"value": "@if(\n  or(empty(activity('GetWatermarkValue').output.firstRow), empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)),\n  '',\n  formatDateTime(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IsFirstRun",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetPreviousWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@empty(variables('PreviousWatermark'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SqlQuery_After_1_run",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SqlQuery",
										"value": {
											"value": "@concat(\r\n  'SELECT ',\r\n  'INDEX_NUM, CUSTOMER_ID, FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY, ',\r\n  'PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE, ',\r\n  'LOWER(CONVERT(VARCHAR(64), HASHBYTES(''SHA2_256'', ',\r\n  'CONCAT_WS(''|'', ',\r\n  'ISNULL(CAST(INDEX_NUM AS NVARCHAR(50)),''NA''), ',\r\n  'ISNULL(CUSTOMER_ID,''NA''), ISNULL(FIRST_NAME,''NA''), ISNULL(LAST_NAME,''NA''), ',\r\n  'ISNULL(COMPANY,''NA''), ISNULL(CITY,''NA''), ISNULL(COUNTRY,''NA''), ',\r\n  'ISNULL(PHONE_1,''NA''), ISNULL(PHONE_2,''NA''), ISNULL(EMAIL,''NA''), ',\r\n  'ISNULL(CONVERT(NVARCHAR(30), SUBSCRIPTION_DATE,126),''NA''), ',\r\n  'ISNULL(WEBSITE,''NA'') ',\r\n  ')), 2)) AS HASH_DIFF ',\r\n  'FROM ', pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table, ' ',\r\n  'WHERE SRC_ROW_INSRT_TSTMP > CAST(''', \r\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'),\r\n  ''' AS DATETIME2)'\r\n)\r\n",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SqlQuery_1_run",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SqlQuery",
										"value": {
											"value": "@concat(\r\n  'SELECT ',\r\n  'INDEX_NUM, CUSTOMER_ID, FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY, ',\r\n  'PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE, ',\r\n  'LOWER(CONVERT(VARCHAR(64), HASHBYTES(''SHA2_256'', ',\r\n  'CONCAT_WS(''|'', ',\r\n  'ISNULL(CAST(INDEX_NUM AS NVARCHAR(50)),''NA''), ',\r\n  'ISNULL(CUSTOMER_ID,''NA''), ISNULL(FIRST_NAME,''NA''), ISNULL(LAST_NAME,''NA''), ',\r\n  'ISNULL(COMPANY,''NA''), ISNULL(CITY,''NA''), ISNULL(COUNTRY,''NA''), ',\r\n  'ISNULL(PHONE_1,''NA''), ISNULL(PHONE_2,''NA''), ISNULL(EMAIL,''NA''), ',\r\n  'ISNULL(CONVERT(NVARCHAR(30), SUBSCRIPTION_DATE,126),''NA''), ',\r\n  'ISNULL(WEBSITE,''NA'') ',\r\n  ')), 2)) AS HASH_DIFF ',\r\n  'FROM ', pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table\r\n)\r\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "TruncStageTable",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "IsFirstRun",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_SB_Lkp",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n  'TRUNCATE TABLE [',\n  pipeline().parameters.p_stg_schema, '].[', \n  pipeline().parameters.p_stg_table, '];'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SQL_MERGE_SCD2",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "LoadStage_WithHash",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_SB_Lkp",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @today_ist datetime2(3) = SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';\r\nDECLARE @chg TABLE(action nvarchar(10));\r\n\r\nBEGIN TRAN;\r\n\r\n-- 1) Expire rows where attributes changed\r\nMERGE DWH.DIM_CUSTOMER_DETAILS AS T\r\nUSING (\r\n  SELECT *\r\n  FROM DWH.STG_CUSTOMER_DETAILS\r\n) AS S\r\nON  T.INDEX_NUM   = S.INDEX_NUM\r\nAND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nAND T.ROW_EXPIR_DT = '9999-12-31'\r\nWHEN MATCHED AND ISNULL(S.HASH_DIFF,0x) <> ISNULL(T.HASH_DIFF,0x)\r\nTHEN UPDATE SET\r\n  T.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date)),\r\n  T.LST_UPD_TSTMP_IST = @today_ist\r\nOUTPUT $action INTO @chg;\r\n\r\n-- 2) Insert new versions for the rows just expired\r\nINSERT INTO DWH.DIM_CUSTOMER_DETAILS\r\n(\r\n  INDEX_NUM, CUSTOMER_ID,\r\n  FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY,\r\n  PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE,\r\n  HASH_DIFF, VERSION_NUM\r\n)\r\nSELECT\r\n  S.INDEX_NUM, S.CUSTOMER_ID,\r\n  S.FIRST_NAME, S.LAST_NAME, S.COMPANY, S.CITY, S.COUNTRY,\r\n  S.PHONE_1, S.PHONE_2, S.EMAIL, S.SUBSCRIPTION_DATE, S.WEBSITE,\r\n  S.HASH_DIFF, T.VERSION_NUM + 1\r\nFROM DWH.STG_CUSTOMER_DETAILS S\r\nJOIN DWH.DIM_CUSTOMER_DETAILS T\r\n  ON T.INDEX_NUM = S.INDEX_NUM\r\n AND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nWHERE T.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date));\r\n\r\n-- 3) Insert brand-new keys\r\nMERGE DWH.DIM_CUSTOMER_DETAILS AS T\r\nUSING (\r\n  SELECT *\r\n  FROM DWH.STG_CUSTOMER_DETAILS\r\n) AS S\r\nON  T.INDEX_NUM   = S.INDEX_NUM\r\nAND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nWHEN NOT MATCHED BY TARGET\r\nTHEN INSERT\r\n(\r\n  INDEX_NUM, CUSTOMER_ID,\r\n  FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY,\r\n  PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE,\r\n  HASH_DIFF, VERSION_NUM\r\n)\r\nVALUES\r\n(\r\n  S.INDEX_NUM, S.CUSTOMER_ID,\r\n  S.FIRST_NAME, S.LAST_NAME, S.COMPANY, S.CITY, S.COUNTRY,\r\n  S.PHONE_1, S.PHONE_2, S.EMAIL, S.SUBSCRIPTION_DATE, S.WEBSITE,\r\n  S.HASH_DIFF, 1\r\n)\r\nOUTPUT $action INTO @chg;\r\n\r\nCOMMIT;\r\n\r\n-- Return counts to ADF\r\nSELECT\r\n  SUM(CASE WHEN action='INSERT' THEN 1 ELSE 0 END) AS RowsInserted,\r\n  SUM(CASE WHEN action='UPDATE' THEN 1 ELSE 0 END) AS RowsExpired\r\nFROM @chg;\r\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SetRowsInsertedCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SQL_MERGE_SCD2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsInserted",
							"value": {
								"value": "@int(activity('SQL_MERGE_SCD2').output.resultSets[0].rows[0].RowsInserted)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetRowsExpiredCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetRowsInsertedCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsExpired",
							"value": {
								"value": "@int(activity('SQL_MERGE_SCD2').output.resultSets[0].rows[0].RowsExpired)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SourceKeys_Full",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetRowsExpiredCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n 'SELECT ',\n '''DWH'' AS DIM_TAB_SCHEMA_NAME, ',\n '''DIM_CUSTOMER_DETAILS'' AS DIM_TABLE_NAME, ',\n '''CUSTOMER_ID'' AS BUSSINESS_ID_COL_NM, ',\n 'INDEX_NUM, ',\n 'CUSTOMER_ID AS BUSSINESS_ID ',\n 'FROM ',\n pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE DWH.SRC_KEYS_CUSTOMER;",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIM_TAB_SCHEMA_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DIM_TAB_SCHEMA_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DIM_TABLE_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DIM_TABLE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_NUM",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "INDEX_NUM",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BUSSINESS_ID_COL_NM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BUSSINESS_ID_COL_NM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSSINESS_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BUSSINESS_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"Src_Schema_Name": {
										"value": "@pipeline().parameters.p_src_schema",
										"type": "Expression"
									},
									"Src_Table_Name": {
										"value": "@pipeline().parameters.p_src_table",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DWH_DIM_SRC_KEYS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQL_MarkDeletes",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SourceKeys_Full",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS__SB_ADVW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @today_ist datetime2(3) = SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';\r\n\r\n;WITH missing AS (\r\n  SELECT D.INDEX_NUM, D.CUSTOMER_ID\r\n  FROM DWH.DIM_CUSTOMER_DETAILS D\r\n  WHERE D.ROW_EXPIR_DT = '9999-12-31'\r\n  EXCEPT\r\n  SELECT K.INDEX_NUM, K.CUSTOMER_ID\r\n  FROM DWH.SRC_KEYS_CUSTOMER K\r\n)\r\nUPDATE D\r\n   SET D.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date)),\r\n       D.ROW_STS_CD   = 'D',\r\n       D.LST_UPD_TSTMP_IST = @today_ist\r\nFROM DWH.DIM_CUSTOMER_DETAILS D\r\nJOIN missing M\r\n  ON D.INDEX_NUM = M.INDEX_NUM\r\n AND D.CUSTOMER_ID = M.CUSTOMER_ID\r\nWHERE D.ROW_EXPIR_DT = '9999-12-31';\r\n\r\nSELECT @@ROWCOUNT AS RowsDeleted;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SetRowsDeletedCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SQL_MarkDeletes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsDeleted",
							"value": {
								"value": "@int(activity('SQL_MarkDeletes').output.resultSets[0].rows[0].RowsDeleted)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetMaxModifiedDate",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetRowsDeletedCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT MAX(SRC_ROW_INSRT_TSTMP) AS MAX_MODIFIED_DATE FROM ',\n  pipeline().parameters.p_stg_schema, '.', pipeline().parameters.p_stg_table,\n  ' WHERE SRC_ROW_INSRT_TSTMP > ''', variables('PreviousWatermark'), ''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Get_Watermark_2308",
								"type": "DatasetReference",
								"parameters": {
									"Stg_Schema_Name": {
										"value": "@pipeline().parameters.p_stg_schema",
										"type": "Expression"
									},
									"Stg_Table_Name": {
										"value": "@pipeline().parameters.p_stg_table",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "SP_UpdateWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetMaxWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"FILE_TABLE_ID": {
									"value": {
										"value": "@pipeline().parameters.p_file_table_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"SOURCE_TABLE_NAME": {
									"value": {
										"value": "@pipeline().parameters.p_src_table",
										"type": "Expression"
									},
									"type": "String"
								},
								"UPDATED_AT_TSTMP": {
									"value": {
										"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"UPDATED_BY": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"WATERMARK_VALUE": {
									"value": {
										"value": "@convertFromUtc(formatDateTime(variables('MaxWatermark'), 'yyyy-MM-ddTHH:mm:ssZ'), 'India Standard Time')\n\n",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_LOG_MIGRATION_EVENT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetMaxWatermark",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetMaxModifiedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "MaxWatermark",
							"value": {
								"value": "@if(\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss.fffffff'),\n  formatDateTime(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LoadStage_WithHash",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncStageTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@variables('SqlQuery')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Vivid_Raw_2408",
								"type": "DatasetReference",
								"parameters": {
									"Src_Schema_Name": {
										"value": "@pipeline().parameters.p_src_schema",
										"type": "Expression"
									},
									"Src_Table_Name": {
										"value": "@pipeline().parameters.p_src_table",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_STG_WITH_HASH",
								"type": "DatasetReference",
								"parameters": {
									"Stg_Schema_Name": {
										"value": "@pipeline().parameters.p_stg_schema",
										"type": "Expression"
									},
									"Stg_Table_Name": {
										"value": "@pipeline().parameters.p_stg_table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_src_schema": {
						"type": "string",
						"defaultValue": "VIVID"
					},
					"p_src_table": {
						"type": "string",
						"defaultValue": "BLOB_CUSTOMER_RAW"
					},
					"p_stg_schema": {
						"type": "string",
						"defaultValue": "DWH"
					},
					"p_stg_table": {
						"type": "string",
						"defaultValue": "STG_CUSTOMER_DETAILS"
					},
					"p_dim_schema": {
						"type": "string",
						"defaultValue": "DWH"
					},
					"p_dim_table": {
						"type": "string",
						"defaultValue": "DIM_CUSTOMER_DETAILS"
					},
					"p_file_table_id": {
						"type": "int",
						"defaultValue": 1001
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"RowsInserted": {
						"type": "Integer",
						"defaultValue": 0
					},
					"RowsExpired": {
						"type": "Integer",
						"defaultValue": 0
					},
					"RowsDeleted": {
						"type": "Integer",
						"defaultValue": 0
					},
					"SqlQuery": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SCDs"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_LoadStage_WithHash')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference"
							},
							"name": "VivivdRawTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DWH_STG",
								"type": "DatasetReference"
							},
							"name": "StgCustomerDetails"
						}
					],
					"transformations": [
						{
							"name": "addHashDiffColumn"
						}
					],
					"scriptLines": [
						"parameters{",
						"     df_sqlQuery as string",
						"}",
						"source(output(",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: (toString($df_sqlQuery)),",
						"     format: 'query') ~> VivivdRawTable",
						"VivivdRawTable derive(HASH_DIFF = unhex(\r",
						"  md5(\r",
						"    concat(\r",
						"      toString(upper(trim(FIRST_NAME))), '|',\r",
						"      toString(upper(trim(LAST_NAME))),  '|',\r",
						"      toString(trim(COMPANY)),           '|',\r",
						"      toString(upper(trim(CITY))),       '|',\r",
						"      toString(upper(trim(COUNTRY))),    '|',\r",
						"      toString(replace(PHONE_1,' ','')), '|',\r",
						"      toString(replace(PHONE_2,' ','')), '|',\r",
						"      toString(lower(trim(EMAIL))),      '|',\r",
						"      toString(trim(SUBSCRIPTION_DATE)), '|',\r",
						"      toString(trim(WEBSITE))\r",
						"    )\r",
						"  )\r",
						")) ~> addHashDiffColumn",
						"addHashDiffColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> StgCustomerDetails"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD_T2_Vivid_Customer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_VIVID_CUSTOMER",
								"type": "DatasetReference"
							},
							"name": "VividCustomerRaw"
						},
						{
							"dataset": {
								"referenceName": "DS_SB_TGT_SCD",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DWH_SB",
								"type": "DatasetReference"
							},
							"name": "DwhDimCustomerInsert"
						},
						{
							"dataset": {
								"referenceName": "DS_DWH_SB",
								"type": "DatasetReference"
							},
							"name": "DwhDimCustomerUpdate"
						}
					],
					"transformations": [
						{
							"name": "SourceJoinDimension"
						},
						{
							"name": "SelectDistinctColumns"
						},
						{
							"name": "DcTrackChanges"
						},
						{
							"name": "CheckNewOrChangedRow"
						},
						{
							"name": "NewRowsUnionChangedRows"
						},
						{
							"name": "DcAddMetadataColumns"
						},
						{
							"name": "DcExpireSetup"
						},
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: true,",
						"     waterMarkColumn: 'SRC_ROW_INSRT_TSTMP',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> VividCustomerRaw",
						"source(output(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"VividCustomerRaw, DimCustomer join(VividCustomerRaw@CUSTOMER_ID == DimCustomer@CUSTOMER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> SourceJoinDimension",
						"SourceJoinDimension select(mapColumn(",
						"          INDEX_NUM = VividCustomerRaw@INDEX_NUM,",
						"          CUSTOMER_ID = VividCustomerRaw@CUSTOMER_ID,",
						"          FIRST_NAME = VividCustomerRaw@FIRST_NAME,",
						"          LAST_NAME = VividCustomerRaw@LAST_NAME,",
						"          COMPANY = VividCustomerRaw@COMPANY,",
						"          CITY = VividCustomerRaw@CITY,",
						"          COUNTRY = VividCustomerRaw@COUNTRY,",
						"          PHONE_1 = VividCustomerRaw@PHONE_1,",
						"          PHONE_2 = VividCustomerRaw@PHONE_2,",
						"          EMAIL = VividCustomerRaw@EMAIL,",
						"          SUBSCRIPTION_DATE = VividCustomerRaw@SUBSCRIPTION_DATE,",
						"          WEBSITE = VividCustomerRaw@WEBSITE,",
						"          SRC_ROW_INSRT_TSTMP = VividCustomerRaw@SRC_ROW_INSRT_TSTMP,",
						"          CUSTOMER_SID,",
						"          TGT_INDEX_NUM = DimCustomer@INDEX_NUM,",
						"          TGT_CUSTOMER_ID = DimCustomer@CUSTOMER_ID,",
						"          TGT_FIRST_NAME = DimCustomer@FIRST_NAME,",
						"          TGT_LAST_NAME = DimCustomer@LAST_NAME,",
						"          TGT_COMPANY = DimCustomer@COMPANY,",
						"          TGT_CITY = DimCustomer@CITY,",
						"          TGT_COUNTRY = DimCustomer@COUNTRY,",
						"          TGT_PHONE_1 = DimCustomer@PHONE_1,",
						"          TGT_PHONE_2 = DimCustomer@PHONE_2,",
						"          TGT_EMAIL = DimCustomer@EMAIL,",
						"          TGT_SUBSCRIPTION_DATE = DimCustomer@SUBSCRIPTION_DATE,",
						"          TGT_WEBSITE = DimCustomer@WEBSITE,",
						"          TGT_SRC_ROW_INSRT_TSTMP = DimCustomer@SRC_ROW_INSRT_TSTMP",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> SelectDistinctColumns",
						"SelectDistinctColumns derive(isChanged = iif(\r",
						"     md5(INDEX_NUM)  != md5(TGT_INDEX_NUM)  ||\r",
						"    md5(FIRST_NAME) != md5(TGT_FIRST_NAME) ||\r",
						"    md5(LAST_NAME)  != md5(TGT_LAST_NAME)  ||\r",
						"    md5(COMPANY)    != md5(TGT_COMPANY)    ||\r",
						"    md5(CITY)       != md5(TGT_CITY)       ||\r",
						"    md5(COUNTRY)    != md5(TGT_COUNTRY)    ||\r",
						"    md5(PHONE_1)    != md5(TGT_PHONE_1)    ||\r",
						"    md5(PHONE_2)    != md5(TGT_PHONE_2)    ||\r",
						"    md5(EMAIL)      != md5(TGT_EMAIL)      ||\r",
						"    md5(SUBSCRIPTION_DATE) != md5(TGT_SUBSCRIPTION_DATE) ||\r",
						"    md5(WEBSITE)    != md5(TGT_WEBSITE),\r",
						"    true(),\r",
						"    false()\r",
						")) ~> DcTrackChanges",
						"DcTrackChanges split(isNull(TGT_CUSTOMER_ID),",
						"     !isNull(TGT_CUSTOMER_ID) && (\r",
						"  coalesce(FIRST_NAME , '') != coalesce(TGT_FIRST_NAME , '') ||\r",
						"  coalesce(LAST_NAME  , '') != coalesce(TGT_LAST_NAME  , '') ||\r",
						"  coalesce(COMPANY    , '') != coalesce(TGT_COMPANY    , '') ||\r",
						"  coalesce(CITY       , '') != coalesce(TGT_CITY       , '') ||\r",
						"  coalesce(COUNTRY    , '') != coalesce(TGT_COUNTRY    , '') ||\r",
						"  coalesce(PHONE_1    , '') != coalesce(TGT_PHONE_1    , '') ||\r",
						"  coalesce(PHONE_2    , '') != coalesce(TGT_PHONE_2    , '') ||\r",
						"  coalesce(EMAIL      , '') != coalesce(TGT_EMAIL      , '') ||  \r",
						"  coalesce(SUBSCRIPTION_DATE      , '') != coalesce(TGT_SUBSCRIPTION_DATE      , '') ||\r",
						"  coalesce(WEBSITE    , '') != coalesce(TGT_WEBSITE    , '')\r",
						"),",
						"     disjoint: false) ~> CheckNewOrChangedRow@(NewRows, ChangedRows)",
						"CheckNewOrChangedRow@NewRows, CheckNewOrChangedRow@ChangedRows union(byName: true)~> NewRowsUnionChangedRows",
						"NewRowsUnionChangedRows derive(WATERMARK_ID = 10002,",
						"          BATCH_ID = 50001,",
						"          ROW_EFF_DT = currentDate(),",
						"          ROW_EXPIR_DT = toDate('9999-12-31'),",
						"          ROW_STS_CD = 'A') ~> DcAddMetadataColumns",
						"CheckNewOrChangedRow@ChangedRows derive(ROW_STS_CD = 'I',",
						"          ROW_EXPIR_DT = toDate(fromUTC(currentUTC(), 'India Standard Time')),",
						"          LST_UPD_TSTMP_IST = fromUTC(currentUTC(), 'India Standard Time')) ~> DcExpireSetup",
						"DcExpireSetup alterRow(updateIf(true())) ~> alterRow1",
						"DcAddMetadataColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as date,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          INDEX_NUM,",
						"          CUSTOMER_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          COMPANY,",
						"          CITY,",
						"          COUNTRY,",
						"          PHONE_1,",
						"          PHONE_2,",
						"          EMAIL,",
						"          SUBSCRIPTION_DATE,",
						"          WEBSITE,",
						"          SRC_ROW_INSRT_TSTMP,",
						"          WATERMARK_ID,",
						"          BATCH_ID,",
						"          ROW_EFF_DT,",
						"          ROW_EXPIR_DT,",
						"          ROW_STS_CD",
						"     )) ~> DwhDimCustomerInsert",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as date,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['CUSTOMER_SID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DwhDimCustomerUpdate"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD_T2_Vivid_Scd')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference"
							},
							"name": "VividCustomerRaw"
						},
						{
							"dataset": {
								"referenceName": "DS_SB_TGT_SCD",
								"type": "DatasetReference"
							},
							"name": "DimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DWH_SB",
								"type": "DatasetReference"
							},
							"name": "DwhDimCustomerInsert"
						},
						{
							"dataset": {
								"referenceName": "DS_DWH_SB",
								"type": "DatasetReference"
							},
							"name": "DwhDimCustomerUpdate"
						}
					],
					"transformations": [
						{
							"name": "SourceJoinDimension"
						},
						{
							"name": "SelectDistinctColumns"
						},
						{
							"name": "DcTrackChanges"
						},
						{
							"name": "CheckNewOrChangedRow"
						},
						{
							"name": "NewRowsUnionChangedRows"
						},
						{
							"name": "DcAddMetadataColumns"
						},
						{
							"name": "DcExpireSetup"
						},
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     waterMarkColumn: 'SRC_ROW_INSRT_TSTMP',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> VividCustomerRaw",
						"source(output(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> DimCustomer",
						"VividCustomerRaw, DimCustomer join(VividCustomerRaw@INDEX_NUM == DimCustomer@INDEX_NUM,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> SourceJoinDimension",
						"SourceJoinDimension select(mapColumn(",
						"          INDEX_NUM = VividCustomerRaw@INDEX_NUM,",
						"          CUSTOMER_ID = VividCustomerRaw@CUSTOMER_ID,",
						"          FIRST_NAME = VividCustomerRaw@FIRST_NAME,",
						"          LAST_NAME = VividCustomerRaw@LAST_NAME,",
						"          COMPANY = VividCustomerRaw@COMPANY,",
						"          CITY = VividCustomerRaw@CITY,",
						"          COUNTRY = VividCustomerRaw@COUNTRY,",
						"          PHONE_1 = VividCustomerRaw@PHONE_1,",
						"          PHONE_2 = VividCustomerRaw@PHONE_2,",
						"          EMAIL = VividCustomerRaw@EMAIL,",
						"          SUBSCRIPTION_DATE = VividCustomerRaw@SUBSCRIPTION_DATE,",
						"          WEBSITE = VividCustomerRaw@WEBSITE,",
						"          SRC_ROW_INSRT_TSTMP = VividCustomerRaw@SRC_ROW_INSRT_TSTMP,",
						"          CUSTOMER_SID,",
						"          TGT_INDEX_NUM = DimCustomer@INDEX_NUM,",
						"          TGT_CUSTOMER_ID = DimCustomer@CUSTOMER_ID,",
						"          TGT_FIRST_NAME = DimCustomer@FIRST_NAME,",
						"          TGT_LAST_NAME = DimCustomer@LAST_NAME,",
						"          TGT_COMPANY = DimCustomer@COMPANY,",
						"          TGT_CITY = DimCustomer@CITY,",
						"          TGT_COUNTRY = DimCustomer@COUNTRY,",
						"          TGT_PHONE_1 = DimCustomer@PHONE_1,",
						"          TGT_PHONE_2 = DimCustomer@PHONE_2,",
						"          TGT_EMAIL = DimCustomer@EMAIL,",
						"          TGT_SUBSCRIPTION_DATE = DimCustomer@SUBSCRIPTION_DATE,",
						"          TGT_WEBSITE = DimCustomer@WEBSITE,",
						"          TGT_SRC_ROW_INSRT_TSTMP = DimCustomer@SRC_ROW_INSRT_TSTMP",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> SelectDistinctColumns",
						"SelectDistinctColumns derive(isChanged = iif(\r",
						"     md5(INDEX_NUM)  != md5(TGT_INDEX_NUM)  ||\r",
						"    md5(FIRST_NAME) != md5(TGT_FIRST_NAME) ||\r",
						"    md5(LAST_NAME)  != md5(TGT_LAST_NAME)  ||\r",
						"    md5(COMPANY)    != md5(TGT_COMPANY)    ||\r",
						"    md5(CITY)       != md5(TGT_CITY)       ||\r",
						"    md5(COUNTRY)    != md5(TGT_COUNTRY)    ||\r",
						"    md5(PHONE_1)    != md5(TGT_PHONE_1)    ||\r",
						"    md5(PHONE_2)    != md5(TGT_PHONE_2)    ||\r",
						"    md5(EMAIL)      != md5(TGT_EMAIL)      ||\r",
						"    md5(SUBSCRIPTION_DATE) != md5(TGT_SUBSCRIPTION_DATE) ||\r",
						"    md5(WEBSITE)    != md5(TGT_WEBSITE),\r",
						"    true(),\r",
						"    false()\r",
						")) ~> DcTrackChanges",
						"DcTrackChanges split(isNull(CUSTOMER_ID),",
						"     !isNull(TGT_CUSTOMER_ID) && (\r",
						"  coalesce(FIRST_NAME , '') != coalesce(TGT_FIRST_NAME , '') ||\r",
						"  coalesce(LAST_NAME  , '') != coalesce(TGT_LAST_NAME  , '') ||\r",
						"  coalesce(COMPANY    , '') != coalesce(TGT_COMPANY    , '') ||\r",
						"  coalesce(CITY       , '') != coalesce(TGT_CITY       , '') ||\r",
						"  coalesce(COUNTRY    , '') != coalesce(TGT_COUNTRY    , '') ||\r",
						"  coalesce(PHONE_1    , '') != coalesce(TGT_PHONE_1    , '') ||\r",
						"  coalesce(PHONE_2    , '') != coalesce(TGT_PHONE_2    , '') ||\r",
						"  coalesce(EMAIL      , '') != coalesce(TGT_EMAIL      , '') ||  \r",
						"  coalesce(SUBSCRIPTION_DATE      , '') != coalesce(SUBSCRIPTION_DATE      , '') ||\r",
						"  coalesce(WEBSITE    , '') != coalesce(TGT_WEBSITE    , '')\r",
						"),",
						"     disjoint: false) ~> CheckNewOrChangedRow@(NewRows, ChangedRows)",
						"CheckNewOrChangedRow@NewRows, CheckNewOrChangedRow@ChangedRows union(byName: true)~> NewRowsUnionChangedRows",
						"NewRowsUnionChangedRows derive(WATERMARK_ID = 10002,",
						"          BATCH_ID = 50001,",
						"          ROW_EFF_DT = currentDate(),",
						"          ROW_EXPIR_DT = toDate('9999-12-31'),",
						"          ROW_STS_CD = 'A') ~> DcAddMetadataColumns",
						"CheckNewOrChangedRow@ChangedRows derive(ROW_STS_CD = 'I',",
						"          ROW_EXPIR_DT = toDate(fromUTC(currentUTC(), 'India Standard Time'))) ~> DcExpireSetup",
						"DcExpireSetup alterRow(updateIf(true())) ~> alterRow1",
						"DcAddMetadataColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as date,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          INDEX_NUM,",
						"          CUSTOMER_ID,",
						"          FIRST_NAME,",
						"          LAST_NAME,",
						"          COMPANY,",
						"          CITY,",
						"          COUNTRY,",
						"          PHONE_1,",
						"          PHONE_2,",
						"          EMAIL,",
						"          SUBSCRIPTION_DATE,",
						"          WEBSITE,",
						"          SRC_ROW_INSRT_TSTMP,",
						"          WATERMARK_ID,",
						"          BATCH_ID,",
						"          ROW_EFF_DT,",
						"          ROW_EXPIR_DT,",
						"          ROW_STS_CD",
						"     )) ~> DwhDimCustomerInsert",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_SID as integer,",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as date,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp,",
						"          WATERMARK_ID as integer,",
						"          BATCH_ID as integer,",
						"          ROW_EFF_DT as date,",
						"          ROW_EXPIR_DT as date,",
						"          ROW_STS_CD as string,",
						"          INSERT_TSTMP_IST as timestamp,",
						"          LST_UPD_TSTMP_IST as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['CUSTOMER_SID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DwhDimCustomerUpdate"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SourceKeys_Full')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference"
							},
							"name": "VividRawTables"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> VividRawTables",
						"VividRawTables sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          INDEX_NUM as integer,",
						"          CUSTOMER_ID as string,",
						"          FIRST_NAME as string,",
						"          LAST_NAME as string,",
						"          COMPANY as string,",
						"          CITY as string,",
						"          COUNTRY as string,",
						"          PHONE_1 as string,",
						"          PHONE_2 as string,",
						"          EMAIL as string,",
						"          SUBSCRIPTION_DATE as string,",
						"          WEBSITE as string,",
						"          SRC_ROW_INSRT_TSTMP as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_DF_SCD_T2_Inc_Vivid_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD_T2_VIVID_CUSTOMER_SCHEMA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD_T2_Vivid_Customer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"VividCustomerRaw": {
										"Src_Schema_Name": "VIVID",
										"Src_Table_Name": "BLOB_CUSTOMER_RAW"
									},
									"DimCustomer": {},
									"DwhDimCustomerInsert": {},
									"DwhDimCustomerUpdate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "f9b5aa35-6478-4062-b84a-15343c423c1c"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-15T04:27:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD_T2_Vivid_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_DF_SCD_T2_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD_T2_VIVID_SCHEMA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD_T2_Vivid_Scd",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"VividCustomerRaw": {
										"Src_Schema_Name": "VIVID",
										"Src_Table_Name": "BLOB_CUSTOMER_RAW"
									},
									"DimCustomer": {},
									"DwhDimCustomerInsert": {},
									"DwhDimCustomerUpdate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-14T03:03:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD_T2_Vivid_Scd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_DF_SCD_T2_Incremental_BKP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD_T2_VIVID_SCHEMA",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD_T2_Vivid_Scd",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"VividCustomerRaw": {
										"Src_Schema_Name": "VIVID",
										"Src_Table_Name": "BLOB_CUSTOMER_RAW"
									},
									"DimCustomer": {},
									"DwhDimCustomerInsert": {},
									"DwhDimCustomerUpdate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "DataFlows"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-14T03:03:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD_T2_Vivid_Scd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_DF_SCD_T2_Vivid_Raw_Schemas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetWatermarkValue",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', pipeline().parameters.p_src_table, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Watermark_Tracker",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SetPreviousWatermark",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetWatermarkValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PreviousWatermark",
							"value": {
								"value": "@if(\n  or(empty(activity('GetWatermarkValue').output.firstRow), empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)),\n  '',\n  formatDateTime(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "IsFirstRun",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SetPreviousWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@empty(variables('PreviousWatermark'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SqlQuery_After_1_run",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SqlQuery",
										"value": {
											"value": "@concat(\r\n  'SELECT * FROM ',\r\n  pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table,\r\n  ' WHERE SRC_ROW_INSRT_TSTMP > CAST(''', \r\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'),\r\n  ''' AS DATETIME2)'\r\n)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SqlQuery_1_run",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "SqlQuery",
										"value": {
											"value": "@concat(\n  'SELECT * FROM ',\n pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "TruncStageTable",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "IsFirstRun",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_SB_Lkp",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@concat(\n  'TRUNCATE TABLE [',\n  pipeline().parameters.p_stg_schema, '].[', \n  pipeline().parameters.p_stg_table, '];'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DF_LoadStage_WithHash",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "TruncStageTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_LoadStage_WithHash",
								"type": "DataFlowReference",
								"parameters": {
									"df_sqlQuery": {
										"value": "@'SELECT * FROM VIVID.BLOB_CUSTOMER_RAW'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"VivivdRawTable": {
										"Src_Schema_Name": {
											"value": "@pipeline().parameters.p_src_schema",
											"type": "Expression"
										},
										"Src_Table_Name": {
											"value": "@pipeline().parameters.p_src_table",
											"type": "Expression"
										}
									},
									"StgCustomerDetails": {
										"Stg_Schema_Name": {
											"value": "@pipeline().parameters.p_stg_schema",
											"type": "Expression"
										},
										"Stg_Table_Name": {
											"value": "@pipeline().parameters.p_stg_table",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SQL_MERGE_SCD2",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "DF_LoadStage_WithHash",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_SB_Lkp",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @today_ist datetime2(3) = SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';\r\nDECLARE @chg TABLE(action nvarchar(10));\r\n\r\nBEGIN TRAN;\r\n\r\n-- 1) Expire rows where attributes changed\r\nMERGE DWH.DIM_CUSTOMER_DETAILS AS T\r\nUSING (\r\n  SELECT *\r\n  FROM DWH.STG_CUSTOMER_DETAILS\r\n) AS S\r\nON  T.INDEX_NUM   = S.INDEX_NUM\r\nAND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nAND T.ROW_EXPIR_DT = '9999-12-31'\r\nWHEN MATCHED AND ISNULL(S.HASH_DIFF,0x) <> ISNULL(T.HASH_DIFF,0x)\r\nTHEN UPDATE SET\r\n  T.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date)),\r\n  T.LST_UPD_TSTMP_IST = @today_ist\r\nOUTPUT $action INTO @chg;\r\n\r\n-- 2) Insert new versions for the rows just expired\r\nINSERT INTO DWH.DIM_CUSTOMER_DETAILS\r\n(\r\n  INDEX_NUM, CUSTOMER_ID,\r\n  FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY,\r\n  PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE,\r\n  HASH_DIFF, VERSION_NUM\r\n)\r\nSELECT\r\n  S.INDEX_NUM, S.CUSTOMER_ID,\r\n  S.FIRST_NAME, S.LAST_NAME, S.COMPANY, S.CITY, S.COUNTRY,\r\n  S.PHONE_1, S.PHONE_2, S.EMAIL, S.SUBSCRIPTION_DATE, S.WEBSITE,\r\n  S.HASH_DIFF, T.VERSION_NUM + 1\r\nFROM DWH.STG_CUSTOMER_DETAILS S\r\nJOIN DWH.DIM_CUSTOMER_DETAILS T\r\n  ON T.INDEX_NUM = S.INDEX_NUM\r\n AND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nWHERE T.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date));\r\n\r\n-- 3) Insert brand-new keys\r\nMERGE DWH.DIM_CUSTOMER_DETAILS AS T\r\nUSING (\r\n  SELECT *\r\n  FROM DWH.STG_CUSTOMER_DETAILS\r\n) AS S\r\nON  T.INDEX_NUM   = S.INDEX_NUM\r\nAND T.CUSTOMER_ID = S.CUSTOMER_ID\r\nWHEN NOT MATCHED BY TARGET\r\nTHEN INSERT\r\n(\r\n  INDEX_NUM, CUSTOMER_ID,\r\n  FIRST_NAME, LAST_NAME, COMPANY, CITY, COUNTRY,\r\n  PHONE_1, PHONE_2, EMAIL, SUBSCRIPTION_DATE, WEBSITE,\r\n  HASH_DIFF, VERSION_NUM\r\n)\r\nVALUES\r\n(\r\n  S.INDEX_NUM, S.CUSTOMER_ID,\r\n  S.FIRST_NAME, S.LAST_NAME, S.COMPANY, S.CITY, S.COUNTRY,\r\n  S.PHONE_1, S.PHONE_2, S.EMAIL, S.SUBSCRIPTION_DATE, S.WEBSITE,\r\n  S.HASH_DIFF, 1\r\n)\r\nOUTPUT $action INTO @chg;\r\n\r\nCOMMIT;\r\n\r\n-- Return counts to ADF\r\nSELECT\r\n  SUM(CASE WHEN action='INSERT' THEN 1 ELSE 0 END) AS RowsInserted,\r\n  SUM(CASE WHEN action='UPDATE' THEN 1 ELSE 0 END) AS RowsExpired\r\nFROM @chg;\r\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SetRowsInsertedCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SQL_MERGE_SCD2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsInserted",
							"value": {
								"value": "@int(activity('SQL_MERGE_SCD2').output.resultSets[0].rows[0].RowsInserted)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetRowsExpiredCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SetRowsInsertedCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsExpired",
							"value": {
								"value": "@int(activity('SQL_MERGE_SCD2').output.resultSets[0].rows[0].RowsExpired)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SourceKeys_Full",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetRowsExpiredCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n 'SELECT ',\n '''DWH'' AS DIM_TAB_SCHEMA_NAME, ',\n '''DIM_CUSTOMER_DETAILS'' AS DIM_TABLE_NAME, ',\n '''CUSTOMER_ID'' AS BUSSINESS_ID_COL_NM, ',\n 'INDEX_NUM, ',\n 'CUSTOMER_ID AS BUSSINESS_ID ',\n 'FROM ',\n pipeline().parameters.p_src_schema, '.', pipeline().parameters.p_src_table\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE DWH.SRC_KEYS_CUSTOMER;",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIM_TAB_SCHEMA_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DIM_TAB_SCHEMA_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DIM_TABLE_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DIM_TABLE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_NUM",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "INDEX_NUM",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BUSSINESS_ID_COL_NM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BUSSINESS_ID_COL_NM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSSINESS_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BUSSINESS_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_VIVID_RAW_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"Src_Schema_Name": {
										"value": "@pipeline().parameters.p_src_schema",
										"type": "Expression"
									},
									"Src_Table_Name": {
										"value": "@pipeline().parameters.p_src_table",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DWH_DIM_SRC_KEYS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQL_MarkDeletes",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "SourceKeys_Full",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS__SB_ADVW",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "DECLARE @today_ist datetime2(3) = SYSDATETIMEOFFSET() AT TIME ZONE 'India Standard Time';\r\n\r\n;WITH missing AS (\r\n  SELECT D.INDEX_NUM, D.CUSTOMER_ID\r\n  FROM DWH.DIM_CUSTOMER_DETAILS D\r\n  WHERE D.ROW_EXPIR_DT = '9999-12-31'\r\n  EXCEPT\r\n  SELECT K.INDEX_NUM, K.CUSTOMER_ID\r\n  FROM DWH.SRC_KEYS_CUSTOMER K\r\n)\r\nUPDATE D\r\n   SET D.ROW_EXPIR_DT = DATEADD(day,-1,CAST(@today_ist AS date)),\r\n       D.ROW_STS_CD   = 'D',\r\n       D.LST_UPD_TSTMP_IST = @today_ist\r\nFROM DWH.DIM_CUSTOMER_DETAILS D\r\nJOIN missing M\r\n  ON D.INDEX_NUM = M.INDEX_NUM\r\n AND D.CUSTOMER_ID = M.CUSTOMER_ID\r\nWHERE D.ROW_EXPIR_DT = '9999-12-31';\r\n\r\nSELECT @@ROWCOUNT AS RowsDeleted;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "SetRowsDeletedCounts",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SQL_MarkDeletes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RowsDeleted",
							"value": {
								"value": "@int(activity('SQL_MarkDeletes').output.resultSets[0].rows[0].RowsDeleted)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetMaxModifiedDate",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SetRowsDeletedCounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n  'SELECT MAX(SRC_ROW_INSRT_TSTMP) AS MAX_MODIFIED_DATE FROM ',\n  pipeline().parameters.p_stg_schema, '.', pipeline().parameters.p_stg_table,\n  ' WHERE SRC_ROW_INSRT_TSTMP > ''', variables('PreviousWatermark'), ''''\n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Get_Watermark_2308",
								"type": "DatasetReference",
								"parameters": {
									"Stg_Schema_Name": {
										"value": "@pipeline().parameters.p_stg_schema",
										"type": "Expression"
									},
									"Stg_Table_Name": {
										"value": "@pipeline().parameters.p_stg_table",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "SP_UpdateWatermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetMaxWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"FILE_TABLE_ID": {
									"value": {
										"value": "@pipeline().parameters.p_file_table_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"SOURCE_TABLE_NAME": {
									"value": {
										"value": "@pipeline().parameters.p_src_table",
										"type": "Expression"
									},
									"type": "String"
								},
								"UPDATED_AT_TSTMP": {
									"value": {
										"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"UPDATED_BY": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"WATERMARK_VALUE": {
									"value": {
										"value": "@convertFromUtc(formatDateTime(variables('MaxWatermark'), 'yyyy-MM-ddTHH:mm:ssZ'), 'India Standard Time')\n\n",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_LOG_MIGRATION_EVENT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetMaxWatermark",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetMaxModifiedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "MaxWatermark",
							"value": {
								"value": "@if(\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss.fffffff'),\n  formatDateTime(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_src_schema": {
						"type": "string",
						"defaultValue": "VIVID"
					},
					"p_src_table": {
						"type": "string",
						"defaultValue": "BLOB_CUSTOMER_RAW"
					},
					"p_stg_schema": {
						"type": "string",
						"defaultValue": "DWH"
					},
					"p_stg_table": {
						"type": "string",
						"defaultValue": "STG_CUSTOMER_DETAILS"
					},
					"p_dim_schema": {
						"type": "string",
						"defaultValue": "DWH"
					},
					"p_dim_table": {
						"type": "string",
						"defaultValue": "DIM_CUSTOMER_DETAILS"
					},
					"p_file_table_id": {
						"type": "int",
						"defaultValue": 1001
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					},
					"PreviousWatermark": {
						"type": "String"
					},
					"RowsInserted": {
						"type": "Integer",
						"defaultValue": 0
					},
					"RowsExpired": {
						"type": "Integer",
						"defaultValue": 0
					},
					"RowsDeleted": {
						"type": "Integer",
						"defaultValue": 0
					},
					"SqlQuery": {
						"type": "String"
					},
					"MaxWatermark": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SCDs"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_LoadStage_WithHash')]"
			]
		}
	]
}