pipeline/P_Incremental_Migrate_ADVW_Azure.json
{
	"name": "P_Incremental_Migrate_ADVW_Azure",
	"properties": {
		"description": "It migrates the Oracle HR schema tables to an Azure SQL database with incremental runs.",
		"activities": [
			{
				"name": "SetStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSrcTgtTableMapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 7) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 9) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_TBL_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Azure_Sandbox_LKP_2507",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSrcTgtTableMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSrcTgtTableMapping').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetWatermarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT WATERMARK_VALUE FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Watermark_Tracker",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SetPreviousWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousWatermark",
								"value": {
									"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IsFirstRun",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetPreviousWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(variables('PreviousWatermark'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SqlQuery_After_1_run",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "SqlQuery",
											"value": {
												"value": "@concat(\n  'SELECT * FROM ', item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE ModifiedDate > CAST(''', \n  formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss'), \n  ''' AS DATETIME2)'\n)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SqlQuery_1_run",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "SqlQuery",
											"value": {
												"value": "@concat(\r\n  'SELECT * FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME\r\n)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Migrate_ADVW_Azure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "IsFirstRun",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "FILE_TABLE_ID",
											"value": {
												"value": "@item().FILE_TABLE_ID",
												"type": "Expression"
											}
										},
										{
											"name": "BATCH_ID",
											"value": "2001"
										},
										{
											"name": "SRC_TBL_NAME",
											"value": {
												"value": "@item().SRC_TBL_NAME",
												"type": "Expression"
											}
										},
										{
											"name": "PIPLN_NM",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@variables('SqlQuery')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								},
								"enableSkipMapping": true
							},
							"inputs": [
								{
									"referenceName": "DS_ADVW_Src_2807",
									"type": "DatasetReference",
									"parameters": {
										"SRC_ADVW_SCHEMA_NAME": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"SRC_ADVW_TABLE_NAME": {
											"value": "@item().SRC_TBL_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SB_Tgt_SalesLT_M",
									"type": "DatasetReference",
									"parameters": {
										"Tgt_Schema_name": {
											"value": "@item().TGT_SCHEMA_NAME",
											"type": "Expression"
										},
										"Tgt_Table_Name": {
											"value": "@item().TGT_TBL_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetMaxModifiedDate",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Migrate_ADVW_Azure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\r\n  'SELECT MAX(MODIFIEDDATE) AS MAX_MODIFIED_DATE FROM ',\r\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\r\n  ' WHERE MODIFIEDDATE > ''', variables('PreviousWatermark'), ''''\r\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_ADVW_Src_2807",
									"type": "DatasetReference",
									"parameters": {
										"SRC_ADVW_SCHEMA_NAME": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"SRC_ADVW_TABLE_NAME": {
											"value": "@item().SRC_TBL_NAME",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "SP_Success_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Migrate_ADVW_Azure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
								"storedProcedureParameters": {
									"audit_key": {
										"value": {
											"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_msg": {
										"value": null,
										"type": "String"
									},
									"file_table_id": {
										"value": {
											"value": "@item().FILE_TABLE_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"src_schema_name": {
										"value": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_table_name": {
										"value": {
											"value": "@item().SRC_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('StartTime')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Success",
										"type": "String"
									},
									"tgt_schema_name": {
										"value": {
											"value": "@item().TGT_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"tgt_table_name": {
										"value": {
											"value": "@item().TGT_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggered_by": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_LOG_MIGRATION_EVENT",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Failure_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Migrate_ADVW_Azure",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
								"storedProcedureParameters": {
									"audit_key": {
										"value": {
											"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
											"type": "Expression"
										},
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@int(formatDateTime(utcNow(), 'yyyyMMdd'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_msg": {
										"value": {
											"value": "@activity('Migrate_ADVW_Azure').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_table_id": {
										"value": {
											"value": "@item().FILE_TABLE_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "@activity('Migrate_ADVW_Azure').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"src_schema_name": {
										"value": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_table_name": {
										"value": {
											"value": "@item().SRC_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('StartTime')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Fail",
										"type": "String"
									},
									"tgt_schema_name": {
										"value": null,
										"type": "String"
									},
									"tgt_table_name": {
										"value": null,
										"type": "String"
									},
									"triggered_by": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_LOG_MIGRATION_EVENT",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_UpdateWatermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SetMaxWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark]",
								"storedProcedureParameters": {
									"FILE_TABLE_ID": {
										"value": {
											"value": "@item().FILE_TABLE_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SOURCE_TABLE_NAME": {
										"value": {
											"value": "@item().SRC_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"UPDATED_AT": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"UPDATED_BY": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_VALUE": {
										"value": {
											"value": "@variables('MaxWatermark2')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_LOG_MIGRATION_EVENT",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SetMaxWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetMaxModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "MaxWatermark2",
								"value": {
									"value": "@if(\r\n  empty(activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE),\r\n  variables('PreviousWatermark'),\r\n  activity('GetMaxModifiedDate').output.firstRow.MAX_MODIFIED_DATE\r\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"PreviousWatermark": {
				"type": "String"
			},
			"SqlQuery": {
				"type": "String"
			},
			"SqlQuery2": {
				"type": "String"
			},
			"MaxWatermark": {
				"type": "String"
			},
			"MaxWatermark2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Migrations"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-14T03:03:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}