pipeline/P_Migrate_Oracle_HR_Schema.json
{
	"name": "P_Migrate_Oracle_HR_Schema",
	"properties": {
		"activities": [
			{
				"name": "SetStartTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTimestamp",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSrcTgtTableMapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetStartTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 2) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 2) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_TBL_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Files_To_Tables_2502",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableInMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSrcTgtTableMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSrcTgtTableMapping').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetWatermarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\r\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\r\n  'WHERE SOURCE_SCHEMA = ''', item().SRC_SCHEMA_NAME, ''' ',\r\n  'AND SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ', \r\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\r\n  'AND ROW_STS_CD = ''A'''\r\n)\r\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Watermark_Tracker",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SetPreviousWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousWatermark",
								"value": {
									"value": "@if(\n    or(\n        empty(activity('GetWatermarkValue').output.firstRow),\n        empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)\n    ),\n    null,\n    activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_Watermark_Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetPreviousWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(\n    empty(activity('GetWatermarkValue').output.firstRow),\n    false,\n    true\n)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CheckIfNewRows",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat(\n'SELECT MAX(SRC_ROW_INSERT_TSTMP) AS MAX_MODIFIED_DATE FROM ',\nitem().SRC_SCHEMA_NAME,'.',item().SRC_TBL_NAME\n)",
													"type": "Expression"
												},
												"partitionOption": "None",
												"numberPrecision": 38,
												"numberScale": 18,
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "DS_Oracle_HR_1903",
												"type": "DatasetReference",
												"parameters": {
													"SRC_SCHEMA_NAME": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"SRC_TBL_NAME": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "SetSqlQuery",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "CheckIfNewRows",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "SqlQuery",
											"value": {
												"value": "@concat(\n  'SELECT * FROM ',\n  item().SRC_SCHEMA_NAME, '.', item().SRC_TBL_NAME,\n  ' WHERE SRC_ROW_INSERT_TSTMP > ''',\n  if(\n      empty(variables('PreviousWatermark')),\n      '1900-01-01 00:00:00',\n      formatDateTime(variables('PreviousWatermark'), 'yyyy-MM-dd HH:mm:ss')\n  ),\n  ''''\n)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "HR_Schema_Copy",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "SetSqlQuery",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"additionalColumns": [
													{
														"name": "WATERMARK_ID",
														"value": {
															"value": "@activity('GetWatermarkValue').output.firstRow.WATERMARK_ID",
															"type": "Expression"
														}
													},
													{
														"name": "FILE_TABLE_ID",
														"value": {
															"value": "@item().FILE_TABLE_ID",
															"type": "Expression"
														}
													},
													{
														"name": "BATCH_ID",
														"value": {
															"value": "@string(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
															"type": "Expression"
														}
													},
													{
														"name": "SRC_TBL_NM",
														"value": {
															"value": "@item().SRC_TBL_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "PIPLN_NM",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													}
												],
												"oracleReaderQuery": {
													"value": "@variables('SqlQuery')",
													"type": "Expression"
												},
												"partitionOption": "None",
												"numberPrecision": 38,
												"numberScale": 18,
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"logSettings": {
												"enableCopyActivityLog": true,
												"copyActivityLogSettings": {
													"logLevel": "Warning",
													"enableReliableLogging": false
												},
												"logLocationSettings": {
													"linkedServiceName": {
														"referenceName": "LS_STG_ADLS_1209",
														"type": "LinkedServiceReference"
													},
													"path": "logs"
												}
											},
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_Oracle_HR_1903",
												"type": "DatasetReference",
												"parameters": {
													"SRC_SCHEMA_NAME": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"SRC_TBL_NAME": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Azure_TGT_SqlDBSalesLT_M_1203",
												"type": "DatasetReference",
												"parameters": {
													"TGT_SCHEMA_NAME": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"TGT_TABLE_NAME": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP_Success_Log",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "HR_Schema_Copy",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
											"storedProcedureParameters": {
												"audit_key": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"end_time": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"error_msg": {
													"value": null,
													"type": "String"
												},
												"file_table_id": {
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"row_count": {
													"value": {
														"value": "@activity('HR_Schema_Copy').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"src_schema_name": {
													"value": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"src_table_name": {
													"value": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"start_time": {
													"value": {
														"value": "@variables('StartTimestamp')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": "Success",
													"type": "String"
												},
												"tgt_schema_name": {
													"value": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"tgt_table_name": {
													"value": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"triggered_by": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_LOG_MIGRATION_EVENT",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_Log",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "HR_Schema_Copy",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
											"storedProcedureParameters": {
												"audit_key": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"end_time": {
													"value": null,
													"type": "DateTime"
												},
												"error_msg": {
													"value": {
														"value": "@activity('HR_Schema_Copy').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"file_table_id": {
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"row_count": {
													"value": null,
													"type": "Int32"
												},
												"src_schema_name": {
													"value": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"src_table_name": {
													"value": {
														"value": "@item().SRC_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"start_time": {
													"value": {
														"value": "@variables('StartTimestamp')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": "Fail",
													"type": "String"
												},
												"tgt_schema_name": {
													"value": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"tgt_table_name": {
													"value": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"triggered_by": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_LOG_MIGRATION_EVENT",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"StartTimestamp": {
				"type": "String"
			},
			"PreviousWatermark": {
				"type": "String"
			},
			"SqlQuery": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Oracle"
		},
		"annotations": []
	}
}