pipeline/P_Migrate_Oracle_HR_Schema.json
{
	"name": "P_Migrate_Oracle_HR_Schema",
	"properties": {
		"activities": [
			{
				"name": "HR_Schema_Copy",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Oracle_HR_1903",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SCHEMA_NAME": "HR",
							"SRC_TBL_NAME": "EMPLOYEES"
						}
					}
				]
			},
			{
				"name": "SetStartTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTimestamp",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSrcTgtTableMapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetStartTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 2) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 2) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_TBL_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Files_To_Tables_2502",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTableInMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSrcTgtTableMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSrcTgtTableMapping').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetWatermarkValue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\r\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\r\n  'WHERE SOURCE_SCHEMA = ''', item().SRC_SCHEMA_NAME, ''' ',\r\n  'AND SOURCE_TABLE_NAME = ''', item().SRC_TBL_NAME, ''' ', \r\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\r\n  'AND ROW_STS_CD = ''A'''\r\n)\r\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Watermark_Tracker",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SetPreviousWatermark",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PreviousWatermark",
								"value": {
									"value": "@if(\n    or(\n        empty(activity('GetWatermarkValue').output.firstRow),\n        empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)\n    ),\n    null,\n    activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_Watermark_Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetPreviousWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(\n    empty(activity('GetWatermarkValue').output.firstRow),\n    false,\n    true\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"StartTimestamp": {
				"type": "String"
			},
			"PreviousWatermark": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Oracle"
		},
		"annotations": []
	}
}