pipeline/P_Migrate_Mult_Files_To_Mult_tables.json
{
	"name": "P_Migrate_Mult_Files_To_Mult_tables",
	"properties": {
		"activities": [
			{
				"name": "SetStartTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTimestamp",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSrcTgtTableMapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetStartTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 8) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 5) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_FILE_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Files_To_Tables_2502",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get_File_Details",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetSrcTgtTableMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Landing_Generic_0503",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_Valid_Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_File_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_File_Details').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(\r\n    toLower(join(activity('GetSrcTgtTableMapping').output.value,'|')),\r\n    toLower(item().name)\r\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachValidFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Valid_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Valid_Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyFiles_Landing_To_Raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_Error_Log_Generic_2702",
											"type": "LinkedServiceReference"
										},
										"path": "logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Landing_Generic_0303",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Raw_Generic_0303",
									"type": "DatasetReference",
									"parameters": {
										"sink_file_name": {
											"value": "@concat(\r\n    replace(item().name,'.csv',''),\r\n    '_',\r\n    formatDateTime(\r\n        convertFromUtc(utcNow(),'India Standard Time'),\r\n        'yyyyMMdd_HHmmss'\r\n    ),\r\n    '.csv'\r\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyRawFileDataToTables",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CopyFiles_Landing_To_Raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false,
										"prefix": {
											"value": "@{replace(item().SRC_FILE_NAME,'.csv','')}",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": false
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_Error_Log_Generic_2702",
											"type": "LinkedServiceReference"
										},
										"path": "logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Raw_Source_Generic_0603",
									"type": "DatasetReference",
									"parameters": {
										"Raw_Files_Folder_Path": {
											"value": "@concat(\n    'raw/',\n    formatDateTime(convertFromUtc(utcNow(),'India Standard Time'),'yyyy/MMM/dd')\n)",
											"type": "Expression"
										},
										"Raw_Files_Prefix": {
											"value": "@concat(replace(item().SRC_FILE_NAME,'.csv',''),'*')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SB_VIVID_Insert_2502",
									"type": "DatasetReference",
									"parameters": {
										"TGT_SCHEMA_NAME": {
											"value": "@item().TGT_SCHEMA_NAME",
											"type": "Expression"
										},
										"TGT_TBL_NAME": {
											"value": "@item().TGT_TBL_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Success_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyRawFileDataToTables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
								"storedProcedureParameters": {
									"audit_key": {
										"value": {
											"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
											"type": "Expression"
										},
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_msg": {
										"value": null,
										"type": "String"
									},
									"file_table_id": {
										"value": {
											"value": "@item().FILE_TABLE_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "@activity('CopyRawFileDataToTables').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"src_schema_name": {
										"value": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_table_name": {
										"value": {
											"value": "@item().SRC_FILE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('StartTimestamp')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Success",
										"type": "String"
									},
									"tgt_schema_name": {
										"value": {
											"value": "@item().TGT_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"tgt_table_name": {
										"value": {
											"value": "@item().TGT_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggered_by": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Files_SB_Tables_Lkp_2502",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Failure_Log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyRawFileDataToTables",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
								"storedProcedureParameters": {
									"audit_key": {
										"value": {
											"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
											"type": "Expression"
										},
										"type": "String"
									},
									"batch_id": {
										"value": {
											"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"end_time": {
										"value": {
											"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_msg": {
										"value": {
											"value": "@activity('CopyRawFileDataToTables').output.error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_table_id": {
										"value": {
											"value": "@item().FILE_TABLE_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"row_count": {
										"value": {
											"value": "@activity('CopyRawFileDataToTables').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"src_schema_name": {
										"value": {
											"value": "@item().SRC_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_table_name": {
										"value": {
											"value": "@item().SRC_FILE_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"start_time": {
										"value": {
											"value": "@variables('StartTimestamp')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"status": {
										"value": "Fail",
										"type": "String"
									},
									"tgt_schema_name": {
										"value": {
											"value": "@item().TGT_SCHEMA_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"tgt_table_name": {
										"value": {
											"value": "@item().TGT_TBL_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggered_by": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_Files_SB_Tables_Lkp_2502",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"StartTimestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "File_To_Tables_Migration"
		},
		"annotations": []
	}
}