pipeline/P_Migrate_Mult_Files_To_Mult_tables.json
{
	"name": "P_Migrate_Mult_Files_To_Mult_tables",
	"properties": {
		"description": "It migrates multiple csv files to multiple respective tables.",
		"activities": [
			{
				"name": "Get_File_Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Landing_Generic_2702",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@pipeline().parameters.p_folderPath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.p_fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"size",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IF_Validate_File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_File_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n   equals(activity('Get_File_Details').output.exists, true),\n   greater(activity('Get_File_Details').output.size, 0)\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail_the Pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File validation failed: Either file does not exist or size is zero.",
								"errorCode": "FILE_EMPTY_OR_NOT_FOUND"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SetStartTime",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "StartTime",
								"value": {
									"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetSrcTgtTableMapping",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SetStartTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT FILE_TABLE_ID, ',\n  'RIGHT(SRC_SCHEMA_NAME, 8) AS SRC_SCHEMA_NAME, ',\n  'RIGHT(TGT_SCHEMA_NAME, 5) AS TGT_SCHEMA_NAME, ',\n  'SRC_NAME AS SRC_FILE_NAME, ',\n  'TGT_NAME AS TGT_TBL_NAME ',\n  'FROM FILE_TABLE_MAPPING ',\n  'WHERE PIPLN_NM = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Files_To_Tables_2502",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "ForEachFileToTable",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "GetSrcTgtTableMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('GetSrcTgtTableMapping').output.value",
									"type": "Expression"
								},
								"isSequential": false,
								"activities": [
									{
										"name": "CopyFileDataTotables",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "FILE_TABLE_ID",
														"value": {
															"value": "@item().FILE_TABLE_ID",
															"type": "Expression"
														}
													},
													{
														"name": "BATCH_ID",
														"value": "40001"
													},
													{
														"name": "SRC_FILE_NAME",
														"value": {
															"value": "@item().SRC_FILE_NAME",
															"type": "Expression"
														}
													},
													{
														"name": "PIPELINE_NAME",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "TRUNCATE TABLE @{item().TGT_SCHEMA_NAME}.@{item().TGT_TBL_NAME};",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ALL_CSV_2502",
												"type": "DatasetReference",
												"parameters": {
													"SRC_FILE_NAME": {
														"value": "@item().SRC_FILE_NAME",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SB_VIVID_Insert_2502",
												"type": "DatasetReference",
												"parameters": {
													"TGT_SCHEMA_NAME": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"TGT_TBL_NAME": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "SP_Success_Log",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyFileDataTotables",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
											"storedProcedureParameters": {
												"audit_key": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"end_time": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"error_msg": {
													"value": null,
													"type": "String"
												},
												"file_table_id": {
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"row_count": {
													"value": {
														"value": "@activity('CopyFileDataTotables').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"src_schema_name": {
													"value": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"src_table_name": {
													"value": {
														"value": "@item().SRC_FILE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"start_time": {
													"value": {
														"value": "@variables('StartTime')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": "Success",
													"type": "String"
												},
												"tgt_schema_name": {
													"value": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"tgt_table_name": {
													"value": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"triggered_by": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Files_SB_Tables_Lkp_2502",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SP_Failure_Log",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyFileDataTotables",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[LOG_MIGRATION_EVENT]",
											"storedProcedureParameters": {
												"audit_key": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMddHHmmssfffffff')",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyyMMdd'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"end_time": {
													"value": {
														"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"error_msg": {
													"value": {
														"value": "@activity('CopyFileDataTotables').output.error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"file_table_id": {
													"value": {
														"value": "@item().FILE_TABLE_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"row_count": {
													"value": {
														"value": "@activity('CopyFileDataTotables').output.rows.Copied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"src_schema_name": {
													"value": {
														"value": "@item().SRC_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"src_table_name": {
													"value": {
														"value": "@item().SRC_FILE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"start_time": {
													"value": {
														"value": "@variables('StartTime')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"status": {
													"value": "Fail",
													"type": "String"
												},
												"tgt_schema_name": {
													"value": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"tgt_table_name": {
													"value": {
														"value": "@item().TGT_TBL_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"triggered_by": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_Files_SB_Tables_Lkp_2502",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_folderPath": {
				"type": "string"
			},
			"p_fileName": {
				"type": "string"
			}
		},
		"variables": {
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "File_To_Tables_Migration"
		},
		"annotations": []
	}
}