pipeline/P_SCD_T2_Vivid_Raw_Schemas.json
{
	"name": "P_SCD_T2_Vivid_Raw_Schemas",
	"properties": {
		"activities": [
			{
				"name": "SetStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss.fffffff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetWatermarkValue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT WATERMARK_VALUE,WATERMARK_ID FROM dbo.WATERMARK_TRACKER ',\n  'WHERE SOURCE_TABLE_NAME = ''', pipeline().parameters.p_src_table, ''' ',\n  'AND PIPELINE_NAME = ''', pipeline().Pipeline, ''' ',\n  'AND ROW_STS_CD = ''A'''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermark_Tracker",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetPreviousWatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PreviousWatermark",
					"value": {
						"value": "@if(\n  or(empty(activity('GetWatermarkValue').output.firstRow), empty(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE)),\n  '',\n  formatDateTime(activity('GetWatermarkValue').output.firstRow.WATERMARK_VALUE, 'yyyy-MM-dd HH:mm:ss.fffffff')\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_src_schema": {
				"type": "string",
				"defaultValue": "VIVID"
			},
			"p_src_table": {
				"type": "string",
				"defaultValue": "BLOB_CUSTOMER_RAW"
			},
			"p_stg_schema": {
				"type": "string",
				"defaultValue": "DWH"
			},
			"p_stg_table": {
				"type": "string",
				"defaultValue": "STG_CUSTOMER_DETAILS"
			},
			"p_dim_schema": {
				"type": "string",
				"defaultValue": "DWH"
			},
			"p_dim_table": {
				"type": "string",
				"defaultValue": "DIM_CUSTOMER_DETAILS"
			},
			"p_file_table_id": {
				"type": "int",
				"defaultValue": 1001
			}
		},
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"PreviousWatermark": {
				"type": "String"
			},
			"RowsInserted": {
				"type": "Integer"
			},
			"RowsExpired": {
				"type": "Integer"
			},
			"RowsDeleted": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "SCDs"
		},
		"annotations": []
	}
}